<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Restaurantes</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
    <style>
        .container{
            color: orange;
        }
        .jumbotron{
            background-color: #012438;
            color: orange;
        }
    </style>
    <style>
       #map {
         width: 80%;
        height: 500px;
        border:double;
       }
    </style>
    <script type="text/javascript"  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCTuazTT4ftRrTOscHQYPabgJPLiBS9YXc">  </script>

    <script type="text/javascript" th:inline="javascript">

      function loadMap() {
        var tam = /*[[${size}]]*/ '0';
        var i = 0;
        var lats = /*[[${latitudes}]]*/ '[]';
        var lons = /*[[${longitudes}]]*/ '[]';
        var titulos = /*[[${titulos}]]*/ '[]';

        while(tam > i){
            console.log(tam);
            console.log(lats[i]);
            console.log(lons[i]);
            var latlng = new google.maps.LatLng(lats[i],lons[i]);
            var myOptions = {
              zoom: 16,
              center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            if(i == 0){
                var map = new google.maps.Map(document.getElementById("map"),myOptions);
            }

            var marker = new google.maps.Marker({
              position: latlng,
              map: map,
              title: titulos[i]
            });
            i++;
        }
      }

    </script>
</head>
<body style="background-color: #00002D;" onload="loadMap()">
<form th:action="@{/}" method="POST">
    <button class="btn btn-secondary" style="color:orange; background-color: #00002D; border:none;" type="submit"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
</form>
<div class="container">
    <form style="display:flex" action="/search" method="get">
        <select id="ciudad" name="ciudad" style="width: 300px; color:orange" class="form-control" >
            <option value="0">Todas las ciudades</option>
            <option style="color:orange"
                    th:each="city : ${ciudades}"
                    th:value="${city.id}"
                    th:text="${city.name}"></option>
        </select>
        <select id="categoria" name="categoria" style="width: 300px; color:orange" class="form-control" >
            <option value="0">Todas las categorias</option>
            <option style="color:orange"
                    th:each="category : ${categorias}"
                    th:value="${category.id}"
                    th:text="${category.name}"></option>
        </select>
        <input class="form-control my-0 py-1" type="text" id ="name" name="name" th:placeholder="Search..." aria-label="Search" style="color:orange"/>
        <input value = "Buscar" type="submit" class="btn btn-secondary" style="color:orange; background-color: rgba(1, 1, 36, 0.56);"/>
    </form>
    <div id="map"></div>
    <div class="media jumbotron" th:each="restaurant: ${restaurants}">
        <div class="media-body">
            <img class="media-object" th:src="@{'data:image/jpg;base64,' +  ${restaurant.f}}" width="300px;" height="200px;"/>
            <h4 class="media-heading" th:text="${restaurant.name}"></h4>
            <p th:text="${restaurant.category.name}"></p>
            <p th:text="${restaurant.city.name}"></p>
            <div th:if="${restaurant.score > 0}">
                <fieldset  class="rating" th:each="stars:${#numbers.sequence(1,{restaurant.score})}" >
                    <label  style="color:yellow; font-size:120%;" ></label>
                </fieldset>
            </div>
        </div>
        <a th:href="${'/showRestaurant/' + restaurant.id}">Ver</a>
    </div>

</div>
</body>
</html>